.vscode
__pycache__
chroma_db_dir
splits
chroma_quantum_chroma_db
models/
cuda_quantum_full_docs
.ipynb_checkpoints
cuda_quantum_chroma_db
*.ipynb# pixi environments
.pixi/*
!.pixi/config.toml
query_es.py
docker-compose.yml
